<!DOCTYPE html>
<html>
  <head>
<!--     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css"> -->
    <link rel="stylesheet" type="text/css" href="css/materialize.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Holtwood+One+SC' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>XQ Learner Goals</title>
  </head>

  <body>
    

    <form method='POST' action='/learnerGoalQuiz' >
       
      <br>
          
          <div class="container">
            <div class="row">
              <div class="col m12">
                <input type="image" src="images/xq-logo.png" id="xq-logo" width="30%">
              </div>
            </div>
          </div>
          

              
      <h2 class="subtitle">Take the XQ Learner Goals Personality Quiz!</h2>

    </form>
  </body>
</html