<!DOCTYPE html>
<html>
  <head>
<!--     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css"> -->
    <link rel="stylesheet" type="text/css" href="css/materialize.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Holtwood+One+SC' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>XQ Learner Goals</title>
  </head>

  <body>
    <h1>XQ Learner Goals</h1>
    <h5 class="subtitle">A fun little quiz to help you familiarize yourself with the XQ Learner Goals</h5>

    <form method='POST' action='/learnerGoal' >
       
    
     <p> What is your name?</p> 
      <i class="material-icons ">person_pin</i>
     <input type='text' id='my-text-box' value="First Name" class="validate" name="name"/>
      
      <div class="selector">   
        
        <div id="q1" class="question-blocks">
          <p class="question-text"> What emoji best describes you? </p>
          
          <div class="row">
            <div class="col offset-m1 m2">
              <input id="q1o1" type="radio" name="question1" value="1">
              <label class="emoji fl-financial responsive-img" for="q1o1"></label>
              <p class="answer-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris imperdiet est nec euismod consectetur.</p>
            </div>
            <div class="col m2">
              <input id="q1o2" type="radio" name="question1" value="2">
              <label class="emoji fk-nerd" for="q1o2"></label>
              <p class="answer-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris imperdiet est nec euismod consectetur.</p>
            </div>
            <div class="col m2">
              <input id="q1o3" type="radio" name="question1"value="3">
              <label class="emoji ot-shock" for="q1o3"></label>
              <p class="answer-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris imperdiet est nec euismod consectetur.</p>
            </div>
            <div class="col m2">
              <input id="q1o4" type="radio" name="question1"value="4">
              <label class="emoji gc-hugs" for="q1o4"></label>
              <p class="answer-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris imperdiet est nec euismod consectetur.</p>
            </div>
            <div class="col m2">
              <input id="q1o5" type="radio" name="question1"value="5">
              <label class="emoji l4l-thinking" for="q1o5"></label>
              <p class="answer-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris imperdiet est nec euismod consectetur.</p>
            </div>
          </div>
        </div>

        <div id="q2" class="question-blocks">
          <p class="question-text"> You get the opportunity to travel anywhere, where do you go?</p>
          
          <div class="row">
            <div class="col offset-m1 m2">
              <input id="q2o1" type="radio" name="question2" value="1">
              <label class="emoji fl-greece" for="q2o1"></label>
              <p class="answer-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris imperdiet est nec euismod consectetur.</p>
            </div>
            <div class="col m2">
              <input id="q2o2" type="radio" name="question2" value="2">
              <label class="emoji fk-easter" for="q2o2"></label>
              <p class="answer-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris imperdiet est nec euismod consectetur.</p>
            </div>
            <div class="col m2">
              <input id="q2o3" type="radio" name="question2"value="3">
              <label class="emoji ot-mountain" for="q2o3"></label>
              <p class="answer-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris imperdiet est nec euismod consectetur.</p>
            </div>
            <div class="col m2">
              <input id="q2o4" type="radio" name="question2"value="4">
              <label class="emoji gc-nyc" for="q2o4"></label>
              <p class="answer-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris imperdiet est nec euismod consectetur.</p>
            </div>
            <div class="col m2">
              <input id="q2o5" type="radio" name="question2"value="5">
              <label class="emoji l4l-moon" for="q2o5"></label>
              <p class="answer-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris imperdiet est nec euismod consectetur.</p>
            </div>
          </div>
        </div>
      
        <div id="q3" class="question-blocks">
          <p class="question-text"> If you were reborn into a mode of transportation, what would you be?</p>
          
          <div class="row">
            <div class="col offset-m1 m2">
              <input id="q3o1" type="radio" name="question3" value="1">
              <label class="emoji fl-truck" for="q3o1"></label>
              <p class="answer-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris imperdiet est nec euismod consectetur.</p>
            </div>
            <div class="col m2">
              <input id="q3o2" type="radio" name="question3" value="2">
              <label class="emoji fk-ufo" for="q3o2"></label>
              <p class="answer-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris imperdiet est nec euismod consectetur.</p>
            </div>
            <div class="col m2">
              <input id="q3o3" type="radio" name="question3"value="3">
              <label class="emoji ot-helicopter" for="q3o3"></label>
              <p class="answer-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris imperdiet est nec euismod consectetur.</p>
            </div>
            <div class="col m2">
              <input id="q3o4" type="radio" name="question3"value="4">
              <label class="emoji gc-bus" for="q3o4"></label>
              <p class="answer-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris imperdiet est nec euismod consectetur.</p>
            </div>
            <div class="col m2">
              <input id="q3o5" type="radio" name="question3"value="5">
              <label class="emoji l4l-rocket" for="q3o5"></label>
              <p class="answer-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris imperdiet est nec euismod consectetur.</p>
            </div>
          </div>
        </div>

        
        <div id="q4" class="question-blocks">
          <p class="question-text"> If you could have any job, what would you do?</p>
          
          <div class="row">
            <div class="col offset-m1 m2">
              <input id="q4o1" type="radio" name="question4" value="1">
              <label class="emoji fl-teacher" for="q4o1"></label>
              <p class="answer-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris imperdiet est nec euismod consectetur.</p>
            </div>
            <div class="col m2">
              <input id="q4o2" type="radio" name="question4" value="2">
              <label class="emoji fk-scientist" for="q4o2"></label>
              <p class="answer-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris imperdiet est nec euismod consectetur.</p>
            </div>
            <div class="col m2">
              <input id="q4o3" type="radio" name="question4"value="3">
              <label class="emoji ot-artist" for="q4o3"></label>
              <p class="answer-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris imperdiet est nec euismod consectetur.</p>
            </div>
            <div class="col m2">
              <input id="q4o4" type="radio" name="question4"value="4">
              <label class="emoji gc-judge" for="q4o4"></label>
              <p class="answer-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris imperdiet est nec euismod consectetur.</p>
            </div>
            <div class="col m2">
              <input id="q4o5" type="radio" name="question4"value="5">
              <label class="emoji l4l-astronaut" for="q4o5"></label>
              <p class="answer-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris imperdiet est nec euismod consectetur.</p>
            </div>
          </div>
        </div>
      
      
        <div id="q5" class="question-blocks">
          <p class="question-text"> You survive a plane crash but are stranded in the wilderness. You're able to salvage one tool from the wreckage, what do you bring?</p>
          
          <div class="row">
            <div class="col offset-m1 m2">
              <input id="q5o1" type="radio" name="question5" value="1">
              <label class="emoji fl-writing" for="q5o1"></label>
              <p class="answer-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris imperdiet est nec euismod consectetur.</p>
            </div>
            <div class="col m2">
              <input id="q5o2" type="radio" name="question5" value="2">
              <label class="emoji fk-microscope" for="q5o2"></label>
              <p class="answer-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris imperdiet est nec euismod consectetur.</p>
            </div>
            <div class="col m2">
              <input id="q5o3" type="radio" name="question5"value="3">
              <label class="emoji ot-flashlight" for="q5o3"></label>
              <p class="answer-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris imperdiet est nec euismod consectetur.</p>
            </div>
            <div class="col m2">
              <input id="q5o4" type="radio" name="question5"value="4">
              <label class="emoji gc-music" for="q5o4"></label>
              <p class="answer-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris imperdiet est nec euismod consectetur.</p>
            </div>
            <div class="col m2">
              <input id="q5o5" type="radio" name="question5"value="5">
              <label class="emoji l4l-books" for="q5o5"></label>
              <p class="answer-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris imperdiet est nec euismod consectetur.</p>
            </div>
          </div>
        </div>

        <div id="q6" class="question-blocks">
          <p class="question-text"> A famous muralist has offered to paint a mural outside of your school, what symbol do you give him for inspiration? </p>
          
          <div class="row">
            <div class="col offset-m1 m2">
              <input id="q6o1" type="radio" name="question6" value="1">
              <label class="emoji fl-abc" for="q6o1"></label>
              <p class="answer-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris imperdiet est nec euismod consectetur.</p>
            </div>
            <div class="col m2">
              <input id="q6o2" type="radio" name="question6" value="2">
              <label class="emoji fk-atom" for="q6o2"></label>
              <p class="answer-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris imperdiet est nec euismod consectetur.</p>
            </div>
            <div class="col m2">
              <input id="q6o3" type="radio" name="question6"value="3">
              <label class="emoji ot-bulb" for="q6o3"></label>
              <p class="answer-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris imperdiet est nec euismod consectetur.</p>
            </div>
            <div class="col m2">
              <input id="q6o4" type="radio" name="question6"value="4">
              <label class="emoji gc-scales" for="q6o4"></label>
              <p class="answer-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris imperdiet est nec euismod consectetur.</p>
            </div>
            <div class="col m2">
              <input id="q6o5" type="radio" name="question6"value="5">
              <label class="emoji l4l-crystalball" for="q6o5"></label>
              <p class="answer-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris imperdiet est nec euismod consectetur.</p>
            </div>
          </div>
        </div>

        <div id="q7" class="question-blocks">
          <p class="question-text"> Which sport below speaks to your personality? </p>
          
          <div class="row">
            <div class="col offset-m1 m2">
              <input id="q7o1" type="radio" name="question7" value="1">
              <label class="emoji fl-lift" for="q7o1"></label>
              <p class="answer-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris imperdiet est nec euismod consectetur.</p>
            </div>
            <div class="col m2">
              <input id="q7o2" type="radio" name="question7" value="2">
              <label class="emoji fk-surfer" for="q7o2"></label>
              <p class="answer-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris imperdiet est nec euismod consectetur.</p>
            </div>
            <div class="col m2">
              <input id="q7o3" type="radio" name="question7"value="3">
              <label class="emoji ot-racecar" for="q7o3"></label>
              <p class="answer-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris imperdiet est nec euismod consectetur.</p>
            </div>
            <div class="col m2">
              <input id="q7o4" type="radio" name="question7"value="4">
              <label class="emoji gc-basketball" for="q7o4"></label>
              <p class="answer-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris imperdiet est nec euismod consectetur.</p>
            </div>
            <div class="col m2">
              <input id="q7o5" type="radio" name="question7"value="5">
              <label class="emoji l4l-golf" for="q7o5"></label>
              <p class="answer-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris imperdiet est nec euismod consectetur.</p>
            </div>
          </div>
        </div>
      
      <br>
      <br>
    </div>
             
         <button class="btn-large waves-effect waves-light green lighten-1" type="submit" name="action">learn
    <i class="large material-icons right">pageview</i>
  </button>

    </form>
  </body>
</html