<!DOCTYPE html>
<html>
  <head>
<!--     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css"> -->
    <link rel="stylesheet" type="text/css" href="css/materialize.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Holtwood+One+SC' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Dancing+Script' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>XQ Learner Goals</title>
  </head>

  <body>
    <br>
    <div class = "container">
      <div class="row">
        <div class="col m6 offset-m3">
          <img src="<%=@learnerGoalPoster[1]%>">
        </div>
      </div>
    </div>

    <div class="container" id="backbuttons">
      <form method='POST' action='/send'>
        <div class="row">
          <p id="text-center">Text Yourself This Image<br><sub>We won't spam or add your number to any list</sub></p>

          <div class="input-field col s4 offset-s4">

            <i class="material-icons prefix">phone</i>
            <input id="icon_telephone" type="tel" class="validate" name="phonenumber" required="" aria-required="true">

          </div>
        </div>

        <button class="btn waves-effect waves-light grey darken-3" type="button" onClick="window.history.back()" value="Generate Again">Go Back
          <i class="material-icons right">skip_previous</i>
        </button>


        <input type="hidden" name="path" value="<%=@learnerGoalPoster[0]%>">
        <input type="hidden" name="name" value="<%=@name%>">

        <a href="/" class="btn waves-effect waves-light grey darken-3">Start Over
          <i class="material-icons right">replay</i>
        </a>
        
        <button class="btn waves-effect waves-light grey darken-3" type="submit">Text Yourself
          <i class="material-icons right">textsms</i>
        </button>
      </form>


  </div>

  </body>
</html