body {
  background:
    linear-gradient(
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.8)
    ),
    url(../images/patterns/back-to-school-pattern-04.jpg);
    text-align: center;
    background-size: 500px 500px;
  margin-bottom: 100px;
}


#xq-logo{
  max-width: 40%;
  /*height: 450px;*/
}

#my-text-box{
    font-weight: bold;
    font-size: 3em; /* or larger */
    height: 1.25em; /* or larger */
    width: 400px; /* or larger */
  text-align: center;
}


#textarea1{
    padding-left: 30px;
    padding-right: 30px;
    color: white;
    font-size: 1.25em; /* or larger */
    height: 7em; /* or larger */
    text-align: left;
    border-radius: 25px;
    background-color: #0B93F6;
}

#icon_telephone{
    font-weight: bold;
    font-size: 3em; /* or larger */
    text-align: center;
}

#text-center{
  text-align: center;
}

h1{
  font-family: 'Holtwood One SC', serif;
/*   font-size: 300%; */
  margin-bottom: 0px;
  padding: 0px;
}

.subtitle{
  margin: 0;
  padding: 0px;
  font-family: 'Open Sans', sans-serif;
}

p, h3{
  font-family: 'Open Sans', sans-serif;
  margin-top: 30px;
  margin-bottom: 0px;
}

p{
  font-weight: 900;
  font-size: 1.5em;
}

#compliment{
/*   font-family: 'Dancing Script', cursive; */
}
/* body{
    background-image: url(../images/patterns/pattern_hipster_1.jpg);
   text-align: center;
} */

#goback{
  margin-top: 30px;
}


.question-blocks{
  margin-top: 50px;
}

.answer-text{
  font-size: 1em;
  margin-top: 0px;
}


.blank-emoji{background-image:url(../images/emojis/705.png);}

.fl-financial{background-image:url(../images/emojis/xq-quiz/emoji/fl-financial.png);}
.fk-nerd{background-image:url(../images/emojis/xq-quiz/emoji/fk-nerd.png);}
.ot-shock{background-image:url(../images/emojis/xq-quiz/emoji/ot-shock.png);}
.gc-hugs{background-image:url(../images/emojis/xq-quiz/emoji/gc-hugs.png);}
.l4l-thinking{background-image:url(../images/emojis/xq-quiz/emoji/l4l-thinking.png);}


.fl-greece{background-image:url(../images/emojis/xq-quiz/travel/fl-greece.png);}
.fk-easter{background-image:url(../images/emojis/xq-quiz/travel/fk-easter.png);}
.ot-mountain{background-image:url(../images/emojis/xq-quiz/travel/ot-mountain.png);}
.gc-nyc{background-image:url(../images/emojis/xq-quiz/travel/gc-nyc.png);}
.l4l-moon{background-image:url(../images/emojis/xq-quiz/travel/l4l-moon.png);}

.fl-truck{background-image:url(../images/emojis/xq-quiz/transportation/fl-truck.png);}
.fk-ufo{background-image:url(../images/emojis/xq-quiz/transportation/fk-ufo.png);}
.ot-helicopter{background-image:url(../images/emojis/xq-quiz/transportation/ot-helicopter.png);}
.gc-bus{background-image:url(../images/emojis/xq-quiz/transportation/gc-bus.png);}
.l4l-rocket{background-image:url(../images/emojis/xq-quiz/transportation/l4l-rocket.png);}

.fl-teacher{background-image:url(../images/emojis/xq-quiz/job/fl-teacher.png);}
.fk-scientist{background-image:url(../images/emojis/xq-quiz/job/fk-scientist.png);}
.ot-artist{background-image:url(../images/emojis/xq-quiz/job/ot-artist.png);}
.gc-judge{background-image:url(../images/emojis/xq-quiz/job/gc-judge.png);}
.l4l-astronaut{background-image:url(../images/emojis/xq-quiz/job/l4l-astronaut.png);}

.fl-writing{background-image:url(../images/emojis/xq-quiz/tool/fl-writing.png);}
.fk-microscope{background-image:url(../images/emojis/xq-quiz/tool/fk-microscope.png);}
.ot-flashlight{background-image:url(../images/emojis/xq-quiz/tool/ot-flashlight.png);}
.gc-music{background-image:url(../images/emojis/xq-quiz/tool/gc-music.png);}
.l4l-books{background-image:url(../images/emojis/xq-quiz/tool/l4l-books.png);}

.fl-abc{background-image:url(../images/emojis/xq-quiz/symbol/fl-abc.png);}
.fk-atom{background-image:url(../images/emojis/xq-quiz/symbol/fk-atom.png);}
.ot-bulb{background-image:url(../images/emojis/xq-quiz/symbol/ot-bulb.png);}
.gc-scales{background-image:url(../images/emojis/xq-quiz/symbol/gc-scales.png);}
.l4l-crystalball{background-image:url(../images/emojis/xq-quiz/symbol/l4l-crystalball.png);}

.fl-lift{background-image:url(../images/emojis/xq-quiz/sports/fl-lift.png);}
.fk-surfer{background-image:url(../images/emojis/xq-quiz/sports/fk-surfer.png);}
.ot-racecar{background-image:url(../images/emojis/xq-quiz/sports/ot-racecar.png);}
.gc-basketball{background-image:url(../images/emojis/xq-quiz/sports/gc-basketball.png);}
.l4l-golf{background-image:url(../images/emojis/xq-quiz/sports/l4l-golf.png);}




.selector input{
    margin:0;padding:0;
    -webkit-appearance:none;
       -moz-appearance:none;
            appearance:none;
}

.selector input:active +.emoji{opacity: 1;}
.selector input:checked +.emoji{
    -webkit-filter: none;
       -moz-filter: none;
            filter: none;
}
.emoji{
    cursor:pointer;
    background-size:contain;
    background-repeat:no-repeat;
    display:inline-block;
    width:100px;height:100px;
    -webkit-transition: all 100ms ease-in;
       -moz-transition: all 100ms ease-in;
            transition: all 100ms ease-in;
    -webkit-filter: brightness(.9) grayscale(.5) opacity(.7);
       -moz-filter: brightness(.9) grayscale(.5) opacity(.7);
            filter: brightness(.9) grayscale(.5) opacity(.7);
}
.emoji:hover{
    -webkit-filter: brightness(1.2) grayscale(.25) opacity(.9);
       -moz-filter: brightness(1.2) grayscale(.25) opacity(.9);
            filter: brightness(1.2) grayscale(.25) opacity(.9);
}